.form_search button{
    cursor: pointer;
    border:none;
    width: 80px;
    height: 40px;
    background: #E7A04E;
    border-radius: 7px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 0.5vw;
}
.form_search button:hover {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
    background: #43B0ED;
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
    transition: 0.7s;
}
.header_button{
    cursor: pointer;
    width: 160px;
    height: 40px;
    background: #4EE7B0;
    border-radius: 7px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header_button:hover{
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
    background: #43B0ED;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    transition: 0.7s;
}
.active_button{
    cursor: pointer;
    display: block;
    margin: 300px auto;
    width: 220px;
    height: 55px;
    border: none;
    background: #4EE7B0;
    border-radius: 7px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.active_button:hover{
    background: #43B0ED;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    transition: 0.7s;

}